
header{
    font-family: georgia;
     font-size: 20px

}
body1 {
  padding: 20px;
  background: #fafafa;
  position: relative;
color: #D5E0EE;
}

h1,h2,h3, #planjourney{
    font-family: georgia;
}



.full-width{
        width: 100%;
    }

.fill50 {
	width:50vw;
}

#portInfoCard, #shipInfoCard
{
    width: 470px;
    height: 280px;
    bottom:10%;
    right: 10%;
    position: fixed;
    background-color: #F1F7FE

}

.button-display-topright
{
    position:absolute;
    left:93%;
    top:5%;
}

#portListHeader, #shipListHeader
{
    background-color: #D5E0EE ;
    color: black;
    font-size: 20px
}

#portsList, #shipsList, #futurebooking-list, #currentbooking-list, #history-list
{
    font-size: 18px;
}

.page-content
{
    color:#D5E0EE;
    font-size: 18px;
    font-family: georgia
}

#routeinfo{
  width: 470px;
  height: 280px;
  border: 2px solid black;
  bottom: 47%;
  right: 30%;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

#deleteRoute{
  float: right;
}

#closeTab{
  float: right;
}

#postponepage{
  float: right;
}

#mapAreaBooking{
  height: 300px;
  width: 50%;
  left: 29%;
  top: 8%;
}

#wayPoint{
  float: left;
  position: absolute;
  z-index: 1;
  bottom: 7%;
}

option{
    color:black;
}
#table-weather{
    width:100%;
    border-collapse: collapse;
}
#mapArea{
    height:400px;
    width: 55%;
    margin-right: 10px;
    border: 1px solid grey;
    float:left;
    margin-left: 10px;
}
#contentArea{
    max-width: 45%;
    float: left;
    height:400px;
    margin-left: 20px;
    clear: right ;
}

#confirmRouteButton{
  top: 80%;
}

#postponeDateTab{
  border: 1px solid grey;
  height: 120px;
  bottom: 5%;
  right: 60%;
  position: fixed;
  background-color: rgba(90, 90, 90, 0.9);
  border-radius: 5px;
}

#confirmButton{
  float: left;
}

#bookingMapArea{
    height:350px;
    width: 55%;
    margin-right: 10px;
    margin-right: auto;
    top: 25%;
       }
#bookingInfoTable{
    margin-left: 60%;
    width: 25%;
    height: auto;

       }



#mainpagebackground{
background-image: url(mainpage.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center
}

#shipBackground {
    background-image: url(ship.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white
}

#portBackground{
     background-image: url(port.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     color:white
}

#bookingBackground{
    background-image: url(routes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white
}

#bookingInfoBackground{
    background-image: url(bookingmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white
    }

#portContent, #shipContent{
    font-size: 18px;
    line-height: 22px;
}

#bookingInfoTitle{
    font-family: georgia
}

#label{
  color:#7f868f;
}

#postponeDateTab{
    background-color: #546e7a;
    color: white
}
